* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.container {
    max-width: 1440px;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    position: relative;
    font-family: Haval;
    font-size: var(--text-size);
    font-weight: 400;
    line-height: 140%;
}

body,
html {
    height: 100%;
    overflow-x: hidden;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

.btn {
    padding: 20px 40px;
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    line-height: normal;
    text-align: center;
    &--blue {
        background-color: var(--color-blue);
        color: #fff;
        border-color: var(--color-blue);
        &:hover {
            color: var(--color-blue);
            background-color: transparent;

        }
    }
}

section {
    margin-top: var(--section-gap);
}

.main-title, h2 {
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 60px;
    margin-top: 0;
    font-size: var(--title-size-main);
    &--big {
        font-size: var(--title-size-big);
    }
}

.title-h3, h3 {
    font-size: var(--title-size-sm);
    font-weight: 400;
    margin-top: 0;
}