@media (max-width: 1440px) {
    .header {
        &__info {
            gap: 20px;
        }

        &__info-item-text {
            position: absolute;
            top: -100%;
        }
    }
}

@media (max-width: 1220px) {
}

@media (max-width: 1020px) {
}

@media (max-width: 992px) {
    // vars 992
    :root {
        --title-size-main: 28px;
        --title-size-big: 32px;
        --section-gap: 60px;
    }

    // header 992
    .header {
        &__col {
            &--burger {
                position: static;
                display: flex;
                align-items: center;
            }

            &--info {
                display: flex;
                justify-content: flex-end;
            }
        }

        &__title-desktop {
            @include hidden;
        }

        &__title-mobile {
            position: static;
        }

        &__top {
            padding-top: 0;
            position: relative;
            z-index: 141;
            border: none;
        }

        &__top-links {
            @include hidden;
        }

        &__bottom {
            position: absolute;
            top: 0;
            height: 100%;
            width: 420px;
            padding-bottom: 15px;
            padding-top: 0;
            background-color: #fff;
            right: -150%;
            transition: 0.3s;
            &.active {
                right: 0;
            }

            .container,
            .row {
                height: 100%;
            }

            .row {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: initial;
            }

            .col-lg-6 {
                width: initial;
            }

            .col-lg-6:nth-child(2) {
                display: flex;
                margin-top: auto;
                align-items: flex-end;
            }
        }

        &__btn {
        }

        &__menu-list {
            gap: 0;
            flex-direction: column;
            align-items: flex-end;
        }

        &__menu-link {
            font-size: 20px;
            padding: 15px 0;
            display: block;
        }

        &__burger {
            position: relative;
            z-index: 121;
            width: 60px;
            height: 35px;
            background: transparent;
            border: none;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;
            padding: 0;
            margin-top: 2px;
            margin-left: auto;
            span {
                width: 100%;
                background-color: var(--color-blue);
                height: 2px;
                transition: 0.3s;
                position: absolute;
            }

            span:first-child {
                top: 0;
            }

            span:last-child {
                bottom: 0;
            }

            span:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
            }

            &:active span {
                width: 100%;
            }

            &.active {
                span:nth-child(2) {
                    transform: translateY(-50%) scale(0);
                    opacity: 0;
                }

                span {
                    width: 100%;
                }

                span:first-child {
                    transform: rotateZ(45deg);
                    top: initial;
                }

                span:last-child {
                    transform: rotateZ(-45deg);
                    bottom: initial;
                }
            }
        }
    }

    // offer 992
    .offer {
        &__slide-title {
            text-align: center;
            max-width: 485px;
            margin-left: auto;
            margin-right: auto;
            color: #000;
            width: 100%;
        }

        &__slide {
            padding-bottom: 380px;
            padding-top: 30px;
        }

        &__btn {
            display: block;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
        }

        &__dominations {
            margin-top: 20px;
        }

        &__dominations-item-inner {
            padding-left: 25px;
            padding-right: 25px;
            gap: 10px;
        }

        &__dominations-item-icon {
            svg {
                width: 36px;
                height: 36px;
            }
            &::after {
                width: 100%;
                left: 0;
            }
        }

        &__dominations-item-title {
            font-size: 15px;
        }
    }

    // specials 992
    .specials {
        &__subtitle {
            margin-bottom: 40px;
        }

        &__right {
            margin-bottom: 40px;
        }

        &__img {
            margin-left: auto;
            margin-right: auto;
        }

        &__btn {
            &:first-child {
                max-width: 48.5%;
                margin-right: 5px;
            }
            max-width: 48.5%;
            width: 100%;
            text-align: center;
        }
    }

    // models 992
    .models {
        &__item + &__item {
            padding-left: 0;
        }

        &__items {
            row-gap: 10px;
        }
    }

    // card 992
    .card {
        &__inner {
            border: 1px solid #ddd;
        }

        &__title {
            margin: 10px 0;
        }
    }

    // services 992
    .services {

        h2 {
            margin-bottom: 20px;
        }

        &__article {
            max-width: 768px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        &__btn {
            margin-top: 40px;
        }
    } 

    // promotions 992
    .promotion {
        &__slider {
            margin: 40px -5px 0
        }

        &__item {
            margin: 0 5px;
            padding: 10px 10px 20px;
        }

        .slick-dots {
            margin-top: 30px;
        }

        &__btn {
            margin-top: 40px;
        }
    }

    // contacts 992
    .contacts {
        &__btn {
            padding-left: 0 !important;
        }
    }

    // footer 992
    .footer {
        &__descr {
            margin-top: 40px;
        }

        &__descr-second {
            margin: 40px 0;
        }
    }
}

@media (max-width: 876px) {
}

@media (max-width: 768px) {

    // main-title 768
    .main-title, h2 {
        margin-bottom: 40px;
    }

    // btn 768
    .btn {
        padding-left: 30px;
        padding-right: 30px;
    }

    // header 768
    .header {
        &__col {
            &--logo {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
        }

        &__top {
            padding: 20px 0;

            .row {
                gap: 0;
            }
        }

        &__info {
            gap: 10px;
        }

        &__burger {
            width: 36px;
            height: 18px;
        }
    }

    // offer 786
    .offer {
        &__slide {
            padding-top: 0;
            padding-bottom: 0;
        }

        &__slider-arrows {
            height: fit-content;
            top: 235px;
            .conntainer,
            .row {
                height: initial;
            }
        }

        .slick-dots {
            top: 245px;
            bottom: initial;
        }

        &__slide-bg {
            position: relative;
            height: 320px;
            object-fit: cover;
            object-position: center;
        }

        &__slide-title {
            margin-top: 30px;
        }

        &__dominations {
            margin-top: 30px;
        }

        &__dominations-item-inner {
            height: 60px;
            padding-left: 35px;
            padding-right: 20px;
        }

        &__dominations-item-icon svg {
            width: 32px;
            height: 32px;
        }

        &__dominations-item-title {
            max-width: 100%;
            line-height: 120%; /* 16.8px */
        }
    }

    // :root 768
    :root {
        --title-size-main: 20px;
        --title-size-md: 20px;
        --title-size-sm: 16px;
        --text-size: 14px;
        --gap-1: 15px;
        --title-size-big: 24px;
    }

    // specials 768
    .specials {
        &__item {
            + .specials__item {
                margin-top: 40px;
            }
        }

        &__title {
            margin-bottom: 10px;
        }

        &__img {
            width: 100%;
        }

        &__sale {
            padding: 14px 0;
            width: 100%;
            margin-left: 0;
            text-align: center;
        }

        &__item-title {
            font-size: 24px;
            line-height: 120%;
        }

        &__right-bg {
            margin-top: -23px;
        }

        &__img {
            margin-top: 5px;
        }

        &__item-list {
            margin-top: 40px;
            margin-bottom: 20px;
            row-gap: 20px;
        }

        &__item-list-item {
            gap: 15px;
        }

        &__item-list-item-text {
            font-size: 16px;
        }

        &__btn {
            white-space: nowrap;
            &:first-child {
                max-width: 100%;
            }
            max-width: 100%;
            width: 100%;
        }
    }

    // models 768
    .models {
        &__items {
            row-gap: 40px;
        }

        &__item + &__item {
            padding-left: calc(var(--bs-gutter-x) * 0.5);
        }
    }

    // card 768
    .card {
        --card-gap: 20px;
        &__inner {
            max-width: 420px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding: 0 10px 20px;
        }
        &__btn {
            margin-bottom: 10px;
        }
    }

    // promotion 992
    .promotion {
        &__slider {
            margin: 30px -12px 0;
        }

        &__item {
            padding: 0;
            width: 310px;
        }

        &__item-body {
            padding: 0 10px 20px;
        }

        &__item-btn {
            white-space: nowrap;
        }

        .slick-dots {
            margin-top: 20px;
        }

        &__slider-arrow {
            width: 36px;
            height: 36px;

            svg {
                width: 21px;
                height: 21px;
            }
        }
    }

    // contacts  768
    .contacts {
        &__img {
            max-width: 420px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        h3 {
            margin-bottom: 0;
        }

        &__list-item {
            margin-bottom: 20px;
        }

        &__btn {
            padding-left: 20px !important;
            margin-top: 20px;
        }
    }

    // footer 768
    .footer {
        padding: 40px 0;
        &__spoiler {
            padding: 25px 10px;
        }

        &__descr {
            margin-top: 30px;
        }


        &__descr-second {
            margin: 40px 0 30px;
        }
    }
}

@media (max-width: 576px) {
    // offer 576
    .offer {
        &__slide-bg {
            height: 285px;
        }

        &__slider-arrows {
            top: 225px;
        }

        &__slider-arrow {
            width: 36px;
            height: 36px;
        }

        .slick-dots {
            padding: 0;
            top: 240px;
        }
    }

    .services {
        &__article {
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;

            h3 {
                text-align: center;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

@media (max-width: 450px) {
}

@media (max-width: 360px) {
    .header {
        &__title {
            font-size: 12px;
        }

        &__menu-link {
            font-size: 16px;
        }

        &__bottom {
            width: 100%;
        }

        &__btn {
            padding: 20px 30px;
        }
    }
}
