

// Libs
@import "libs/slick.css";
@import "libs/normalize.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap-grid.css";

// Main
@import "support";
@import "all";
@import "script-classes";
@import "header";
@import "pages/home-page";
@import "footer";
@import "media";
