.offer {
    margin-top: 0;
    &__slider {
        position: relative;
    }

    &__slider-arrows {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        pointer-events: none;
        .container,
        .row {
            height: 100%;
        }
    }

    &__slider-arrow {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        transition: 0.3s;
        pointer-events: all;
        svg {
            width: 26px;
            height: 26px;
        }
        &:hover {
            background: var(--color-blue);
        }

        &--next {
            transform: rotate(180deg);
        }
    }

    &__slider-arrows-place {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__slide {
        padding: 60px 0 130px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        .row {
            position: relative;
            z-index: 2;
        }
    }

    &__slide-bg {
        position: absolute;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    &__slide-title {
        font-size: var(--title-size-main);
        color: #fff;
        max-width: 560px;
        margin-bottom: var(--gap-1);
        margin-top: 0;
        text-transform: uppercase;
        font-weight: 400;
        line-height: 140%;
    }

    .slick-dots {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        list-style: none;
        padding: 15px;
        border-radius: 100px;
        background: rgba(0, 0, 0, 0.4);
        margin: 0;
        gap: 10px;
        align-items: center;

        li button {
            font-size: 0;
            width: 8px;
            height: 8px;
            background-color: #b2aaaa;
            border-radius: 50%;
            border: none;
            display: block;
            padding: 0;
            transition: 0.3s;
        }

        li.slick-active button {
            background-color: var(--color-blue);
        }
    }

    &__btn {
    }

    &__dominations {
        margin-top: 60px;
    }

    &__dominations-items {
        row-gap: 10px;
    }

    &__dominations-item {
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    &__dominations-item-inner {
        border: 1px solid #000;
        height: 130px;
        display: flex;
        align-items: center;
        column-gap: 20px;
        width: 100%;
        padding-left: 45px;
        padding-right: 25px;
    }

    &__dominations-item-icon {
        position: relative;
        svg {
            width: 46px;
            height: 46px;
            position: relative;
            z-index: 2;
        }
        &::after {
            content: "";
            position: absolute;
            background-color: #fff;
            height: 100vw;
            width: 71px;
            left: -14px;
            top: -50vw;
            z-index: 0;
        }
    }

    &__dominations-item-title {
        margin: 0;
        font-weight: 400;
        font-size: var(--text-size);
        max-width: 320px;
        width: 100%;
    }
}

.specials {
    &__title {
        margin-bottom: 15px;
    }

    &__subtitle {
        margin-bottom: 80px;
    }

    &__item {
        + .specials__item {
            margin-top: 60px;
        }
    }

    &__item-title {
        margin-top: 0;
        font-size: var(--title-size-main);
        text-transform: uppercase;
        display: flex;
        align-items: flex-start;
        margin-bottom: 15px;
        line-height: 140%; /* 44.8px */

        svg {
            width: 35px;
            height: 39px;
        }
    }

    &__item-title-blue {
        color: var(--color-blue);
        line-height: 140%; /* 44.8px */
    }

    &__item-price {
        font-size: var(--title-size-md);
        font-weight: 400;
        margin-top: 5px;
        font-weight: 700;
        line-height: 140%;
    }

    &__item-list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 50px 0 50px 0;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 40px;
    }

    &__item-list-item {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__item-list-item-icon {
        width: 40px;
        height: 40px;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__item-list-item-text {
        max-width: 270px;
        font-weight: 400;
    }

    &__btns {
        display: flex;
        column-gap: 20px;
        row-gap: 10px;
        flex-wrap: wrap;
    }

    &__btn {
        &--big {
            margin-right: 80px;
            padding-top: 0;
        }
    }

    &__right {
        position: relative;
    }

    &__right-bg {
        position: absolute;
        width: 110.65%;
        height: auto;
        display: block;
        right: -8.325%;
        z-index: 1;
        top: 50px;
    }

    &__sale {
        padding: 25px 51px 21px 52px;
        color: #fff;
        line-height: normal;
        width: fit-content;
        position: relative;
        z-index: 4;
        margin-left: 14px;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: var(--color-blue);
            transform: skew(-20deg);
        }
        span {
            line-height: normal;
            transform: skew(20deg);
            position: relative;
            z-index: 3;
        }
    }

    &__img {
        position: relative;
        z-index: 2;
        margin-top: -13px;
        margin-right: 0;
        margin-left: auto;
        display: block;
        max-width: 664px;
    }
}

.btn {
    &--link {
        background: transparent;
        text-decoration: underline;
        border: none;
        font-size: var(--text-size);
        text-transform: none;
    }

    &--border {
        &:hover {
            color: #fff;
            background-color: #000;
        }
    }

    &--black {
        background-color: #000;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
}

.models {
    &__items {
    }

    &__item {
    }

    &__item-inner {
    }

    &__item-img {
    }

    &__item-title {
    }

    &__item-title-icon {
    }

    &__item-price {
    }

    &__item-characters {
    }
}
.container {
}
.row {
}
.col-lg-12 {
}
.main-title {
    &--big {
    }
}
.card {
    --card-gap: 30px;
    &__inner {
        padding: 0 20px 30px;
    }

    &__img {
        width: 100%;
        object-fit: cover;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: var(--title-size-bold);
        color: var(--color-blue);
        margin: 20px 0;
    }

    &__title-icon {
        width: 40px;
        height: 40px;
    }

    &__price {
        margin-bottom: var(--card-gap);
        font-size: 16px;
    }

    &__characters {
        list-style: none;
        padding: 0;
        margin: 0 0 var(--card-gap) 0;
    }

    &__characters-item {
        font-weight: 300;
        margin-bottom: 10px;
        font-size: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__btns {
    }

    &__btn {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.col-lg-4 {
}
.model {
    &__item-characters-item {
    }

    &__item-btns {
    }

    &__item-btn {
    }
}

.services {
    h2 {
        margin-bottom: 40px;
    }

    p {
        margin: 0;
    }

    &__text {
        h3 {
            font-size: var(--title-size-sm);
            margin: 0 0 15px 0;
        }
    }

    &__articles {
        margin-top: 40px;
        row-gap: 40px;
    }

    &__article {
        padding: 20px 20px 30px;
        border: 1px solid #ddd;
        position: relative;

        h3 {
            margin-top: 20px;
            margin-bottom: 0;
            font-weight: 400;
            text-decoration: underline;
        }
    }

    &__article-img {
        width: 100%;
        max-height: 373px;
    }

    &__article-link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__btn {
        margin-top: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }
}

.promotion {
    h2 {
        margin-bottom: 0;
    }

    &__arrows {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }

    &__slider-arrow {
        width: 48px;
        height: 48px;
        background-color: #fff;
        padding: 0;
        display: flex;
        align-items: center;
        transform: scale(1);
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
        opacity: 1;
        border: 1px solid #000;
        &:hover {
            background-color: var(--color-blue);
            border-color: var(--color-blue);
            svg {
                filter: invert(0);
            }
        }

        &.slick-disabled {
            opacity: 0;
            transform: scale(0) rotate(-180deg);
            visibility: hidden;
        }

        &--next {
            transform: scale(1) rotate(180deg);
        }
    }

    &__slider-arrow svg {
        width: 28px;
        height: 28px;
        filter: invert(100);
        transition: 0.3s;
    }

    &__slider {
        margin: 60px -15px 0;
    }

    .slick-dots {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        justify-content: center;
        gap: 10px;
        margin: 40px 0 0 0;

        li {
            width: 8px;
            height: 8px;
        }

        li button {
            font-size: 0;
            width: 8px;
            height: 8px;
            display: block;
            padding: 0;
            border: none;
            border-radius: 50%;
            background-color: var(--color-gray);
        }

        li.slick-active button {
            background-color: #000;
        }
    }

    .slick-track {
        display: flex;
    }

    &__item {
        padding: 20px 20px 30px;
        height: auto;
        display: flex !important;
        border: 1px solid #ddd;
        flex-direction: column;
        margin: 0 15px;
        h3 {
            font-size: var(--title-size-sm);
            font-weight: 400;
            margin: 20px 0;
        }
    }

    &__item-body {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__item-img {
        width: 100%;
        max-height: 281px;
    }

    &__item-btn {
        margin-top: auto;
    }

    &__btn {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: fit-content;
    }
}
